{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}Tech blogs{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- Animate on scroll -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<!-- Font awsome -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/tech-blogs.png' %}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link {% block nav_link_index %}{% endblock nav_link_index %}" href="{% url 'index' %}"><i class="fas fa-home" id="nav-icon"></i>Home</a></li>
				<li class="nav-item"><a class="nav-link {% block nav_link_about %}{% endblock nav_link_about %}" href="{% url 'about' %}"><i class="fas fa-info-circle" id="nav-icon"></i>About us</a></li>
				<li class="nav-item"><a class="nav-link {% block nav_link_contact %}{% endblock nav_link_contact %}" href="{% url 'contact' %}"><i class="fas fa-phone-square-alt" id="nav-icon"></i>Contact us</a></li>
			</ul>
		</div>
	</nav><br><br>
	<div class="container">
    {% block content %}
    {% endblock %}
    </div>
    <!-- Footer part -->
	<footer>
		<div class="container-fluid mt-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-12 col-12">
						<div class="footer-pt-1" data-aos="fade-up" data-aos-duration="1500">
							<h5><b>About Tech Blogs</b></h5>
							<p>We empower people with web development literacy, so they can read beginner friendly blogs about web development technologies, ask better questions and make better sense of the world. This passion powers our work and our community service.</p>
							<h5>Thank you for your support! &#10084;&#65039;</h5>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-12">
						<div class="footer-pt-2" data-aos="fade-up" data-aos-duration="1500">
							<div class="site-pages">
								<h5><b>Site pages</b></h5>
								<ul>
									<li><a href="{% url 'about' %}">About us</a></li>
									<li><a href="{% url 'contact' %}">Contact us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Sitemap</a></li>
								</ul>
							</div>
							<div class="follow">
								<h5><b>Follow us on :</b></h5>
								<i class="fab fa-facebook-square"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-twitter"></i>
								<i class="fab fa-pinterest"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<p>Copyright &copy; 2021 | Tech blogs</p>
			</div>
		</div>
	</footer>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Animate on scroll -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init({
			once:true,
		});
	  </script>
</body>
</html>
